:root {
    --tech-bg: #030508;
    --tech-cyan: #00f3ff;
    --tech-purple: #a855f7;
}


.ctf-offline-wrapper {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--tech-bg);
    overflow-x: hidden;
    font-family: 'Inter', system-ui, sans-serif;
}

.font-tech {
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.02em;
}

/* Animations */
@keyframes shine {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.animate-shine {
    animation: shine 2s linear infinite;
}

@keyframes pulse-slow {

    0%,
    100% {
        opacity: 0.4;
        transform: scale(1);
    }

    50% {
        opacity: 0.6;
        transform: scale(1.05);
    }
}

.animate-pulse-slow {
    animation: pulse-slow 8s ease-in-out infinite;
}

@keyframes ping-slow {
    0% {
        transform: scale(1);
        opacity: 0.3;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.animate-ping-slow {
    animation: ping-slow 3s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.bg-scanline {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0));
    background-size: 100% 4px;
    animation: scan 8s linear infinite;
}

@keyframes scan {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 100%;
    }
}